.headerText {
  width: calc(100vw - 60px);
  height: 40px;
  background: #EEE;
  text-align: right;
  padding: 0px 10px;
  .fontStyle {
    line-height: 40px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #3a3a3a;
  }
}
