<lb9-panel-main [header]="'User Interface Editor'" [margin]="true">
    <div class="uiEditPanel">
        <div class="uiEditRow">
            <!--<div class="uiEditControlPanel uiCell componentControl">-->
            <!--<app-panel-child [header]="'Component'">-->
            <!--<div class="contentPanel contentPanelGray">-->
            <!--<div class="containerBox">-->
            <!--Container-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="componentBox">-->
            <!--Label-->
            <!--</div>-->
            <!--<div class="componentBox">-->
            <!--Hidden-->
            <!--</div>-->
            <!--<div class="componentBox">-->
            <!--Auto Complete-->
            <!--</div>-->
            <!--<div class="componentBox">-->
            <!--Text Box-->
            <!--</div>-->
            <!--<div class="componentBox">-->
            <!--Text Area-->
            <!--</div>-->
            <!--<div class="componentBox">-->
            <!--Drop Down-->
            <!--</div>-->
            <!--<div class="componentBox">-->
            <!--Check Box-->
            <!--</div>-->
            <!--</div>-->
            <!--</app-panel-child>-->
            <!--</div>-->
            <div class="uiCell">
                <lb9-panel-child [header]="'Example Form'">
                    <div class="contentPanel contentPanelGray">
                        <lb9-dynamic-form #exampleRef [formCreation]="formCreation"
                                          (panelCallBack)="processPanelCallBack($event)"></lb9-dynamic-form>
                    </div>
                </lb9-panel-child>
            </div>
            <div class="uiPropertiesPanel uiCell propertiesControl">
                <lb9-panel-child [header]="'Properties'">
                    <div class="contentPanel contentPanelGray p2DynamicTabPanel" id="propertiesControl">
                        <lb9-dynamic-tab #tabRef [tabCreation]="propertiesTab"
                                         (callBack)="precessTabCallBack($event)"></lb9-dynamic-tab>
                        <div class="tabContentPanel {{tabRef.getCssStatus(2)}}">
                            <div class="fixMaxHeight">
                                <ng-scrollbar class="fixMaxHeight">
                                    <div class="fix-ng-scrollbar">
                                        <lb9-dynamic-form #formEditRef
                                                          [formCreation]="formPropertiesForm"></lb9-dynamic-form>
                                    </div>
                                </ng-scrollbar>
                            </div>
                            <div class="btnPanel">
                                <div class="btn-style-dynamic btn-small" (click)="processSetFormOption()">Set</div>
                            </div>
                        </div>
                        <div class="tabContentPanel {{tabRef.getCssStatus(1)}}">
                            <lb9-dynamic-form #containerEditRef
                                              [formCreation]="containerPropertiesForm"></lb9-dynamic-form>
                            <div class="btnPanel">
                                <div class="btn-style-dynamic btn-small" (click)="processSetContainer()">Set</div>
                            </div>
                        </div>
                        <div class="tabContentPanel {{tabRef.getCssStatus(0)}}">
                            <ng-scrollbar class="fixMaxHeight">
                                <div class="fix-ng-scrollbar">
                                    <lb9-dynamic-form #componentEditRef
                                                      [formCreation]="componentPropertiesForm"></lb9-dynamic-form>
                                </div>
                            </ng-scrollbar>
                            <div class="btnPanel">
                                <div class="btn-style-dynamic btn-small" (click)="processSetField()">Set</div>
                            </div>
                        </div>
                        <div class="tabContentPanel {{tabRef.getCssStatus(3)}}">
                            <div class="fixMaxHeight">
                                <ng-scrollbar>
                                    <lb9-dynamic-form #manageRef [formCreation]="manageForm"></lb9-dynamic-form>
                                </ng-scrollbar>
                            </div>
                            <div class="btnPanel">
                                <div class="btn-style-dynamic btn-small " (click)="saveTemplate()">Save</div>
                                <div class="btn-style-dynamic btn-small btn-margin-left" (click)="loadTemplate()">Load
                                </div>
                                <div class="btn-style-dynamic btn-small btn-margin-left" (click)="deleteTemplate()">
                                    Delete
                                </div>
                            </div>
                        </div>
                    </div>
                </lb9-panel-child>
            </div>
        </div>
    </div>
    <div class="uiCell">
        <div class="importExportPanel">
            <div class="alignTop">
                <div class="importExportCell">
                    <lb9-panel-child [header]="'Generate From Data'">
                        <div class="contentPanel">
                            <div class="importTextArea">
                                <json-editor [options]="editorOptions" [data]="importData.data" (change)="getJsonEditData($event)"></json-editor>
                            </div>
                            <div class="btn-style-dynamic" id="generate" (click)="processGenerate()">Generate Import
                            </div>
                        </div>
                    </lb9-panel-child>
                </div>
                <div class="importExportCell">
                    <lb9-panel-child [header]="'Export JSON'">
                        <div class="contentPanel">
                            <div class="importTextArea">
                                <textarea class="exportTextArea" [(ngModel)]="exportData.data">

                                </textarea>
                            </div>
                            <div class="btn-style-dynamic" (click)="processExport()">Export</div>
                        </div>
                    </lb9-panel-child>
                </div>
            </div>
        </div>
    </div>
</lb9-panel-main>
