.uiEditPanel {
  display: table; }
  .uiEditPanel .uiEditRow {
    display: table-row; }
    .uiEditPanel .uiEditRow .uiCell {
      display: table-cell; }
      .uiEditPanel .uiEditRow .uiCell hr {
        margin: 10px 0px; }
      .uiEditPanel .uiEditRow .uiCell .containerBox {
        background: linear-gradient(#bbbbbb, #cdcdcd, #bbbbbb, #aaaaaa);
        border-radius: 20px;
        margin-bottom: 5px;
        padding: 1px 10px 0px;
        color: #FFF;
        text-shadow: -1px -1px 1px #737373;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.5s; }
        .uiEditPanel .uiEditRow .uiCell .containerBox:hover {
          background: linear-gradient(#cdcdcd, #dcdcdc, #cdcdcd, #b6b6b6);
          text-shadow: -1px -1px 1px #999999;
          transform: translate(-2px, -2px);
          box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
          transition: all 0.5s; }
      .uiEditPanel .uiEditRow .uiCell .componentBox {
        background: linear-gradient(#8ac33e, #97d644, #8ac33e, #84ba3b);
        border-radius: 20px;
        margin-bottom: 5px;
        padding: 1px 10px 0px;
        color: #FFF;
        text-shadow: -1px -1px 1px #2a6621;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.5s; }
        .uiEditPanel .uiEditRow .uiCell .componentBox:hover {
          background: linear-gradient(#94d540, #a7ec4a, #91d92f, #96d343);
          text-shadow: -1px -1px 1px #3a8f2e;
          transform: translate(-2px, -2px);
          box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
          transition: all 0.5s; }
    .uiEditPanel .uiEditRow .componentControl {
      min-width: 170px;
      max-width: 170px;
      width: 170px; }
    .uiEditPanel .uiEditRow .propertiesControl {
      min-width: 340px;
      max-width: 340px;
      width: 320px; }

.importExportPanel {
  width: 100%; }

.importExportCell {
  max-width: calc(50% - 10px); }

.importTextArea {
  max-width: calc(50vw - 80px);
  min-width: calc(50vw - 80px);
  width: calc(50vw - 80px); }

.btnPanel {
  margin-top: 10px;
  text-align: center; }
