.mainPanelFP {
    border-bottom: 3px solid #dddddd;
    .panelAlignFP {
        .headerFP {
            color: #bbac4f;
            font-size: 26px;
            border-bottom: 1px solid #dddddd;
        }
        .contentPanelFP {

        }
    }
}
