.explanationPanel {
    padding: 5px;
    box-sizing: border-box;
    vertical-align: top;
    display:inline-block;
    width: 25vw;
    .explanationHeader {
        color: #ffffff;
        padding: 0px 10px;
        border: 1px solid #e2e3de;
        display: inline-block;
        margin-bottom: 3px;
        border-radius: 20px;
        background: #b4b4b4;
    }
    .explanationDetail {
        line-height: 20px;
        margin-left: 12px;
        color:#9e9e9e;
    }
}
