.hoverField {
    .dp2FieldPanel:hover {
        background: rgba(0,0,255,0.1);
        border-radius: 5px;
    }
    .fieldContainer:hover {
        background: rgba(0,99,0,0.1);
        border-radius: 5px;
    }
}
#propertiesControl {
    min-height: calc(40vh + 100px);
    max-height: calc(40vh + 100px);
}
